body {
    margin: 0;
    font-family: Algerian;
    padding: 0;
    height: 100vh;
    user-select: none;
    color: wheat;
}

#heading {
    font-size: 100px;
    padding-top: 70px;
}
a{
}
#box{

}
#event{
    font-size: 120px;
    font-weight: bold;
    margin: 170px;
    color: white;
}