body {
    margin: 0;
    font-family: Algerian;
    padding: 0;
    height: 100vh;
    user-select: none;
    color: wheat;
    background-repeat: no-repeat;
    background-size: cover;
}

#heading {
    font-size: 100px;
    padding-top: 70px;
}
a{
}
#box{

}
#event{
    font-size: 120px;
    font-weight: bold;
    margin: 170px;
    color: white;
    margin-bottom: 0px;
    
}
#info{
    font-size: 25px;
    font-family: sans-serif;
}