body {
    margin: 0;
    font-family: Algerian;
    padding: 0;
    color: wheat;
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    height: 100vh;
}
#heading {
    font-size: 100px;
    padding-top: 70px;
}

#event {
    font-size: 120px;
    font-weight: bold;
    margin: 130px;
    color: white;
    margin-bottom: 30px;
}

#info {
    font-size: 25px;
    font-family: sans-serif;
}