body {
    margin: 0;
    font-family: Algerian;
    padding: 0;
    color: wheat;
    background-repeat: no-repeat;
    background-size: cover;
}

#heading {
    font-size: 70px;
    padding-top: 70px;
}

#event {
    font-size: 100px;
    font-weight: bold;
    margin: 60px;
    color: white;
    margin-bottom: 30px;
}

#info {
    font-size: 20px;
    font-family: sans-serif;
}

@media only screen and (max-width: 768px) {


    #heading {
        font-size: 100px;
        padding-top: 70px;
    }

    #event {
        font-size: 120px;
        font-weight: bold;
        margin: 130px;
        color: white;
        margin-bottom: 30px;
    }

    #info {
        font-size: 25px;
        font-family: sans-serif;
    }

}